.series-wrapper {
    box-shadow: 0 0 25px #596275;
    border: 3px solid #84817a !important;
    border-radius: 0.8em;
    background-color: transparent;
}

.content-wrapper {
    box-shadow: 0 0 10px rgb(185, 61, 61);
    border: 1px solid #000000 !important;
    border-radius: 0.8em;
    background-color: #212529;
}

div {
    user-select: none;
}

div input,
div textarea,
div span,
div Link
div h1, div h2, div h3, div h4, div h5, div h6
div [contenteditable="true"] {
    user-select: text;
}